<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> &nbsp;&nbsp;&nbsp;&nbsp;
    </ion-buttons>
    <ion-title >
      Panduan
    </ion-title>   
  </ion-toolbar>
</ion-header>


<!-- class="swiper-no-swiping" -->
<ion-content padding>
  <ion-slides  #slides  pager="false" >
    <ion-slide>
      <img src="http://localhost/ta_backend/panduan/home/1.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://localhost/ta_backend/panduan/home/2.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://localhost/ta_backend/panduan/home/3.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://localhost/ta_backend/panduan/home/4.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://localhost/ta_backend/panduan/home/5.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://localhost/ta_backend/panduan/home/6.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://localhost/ta_backend/panduan/home/7.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://localhost/ta_backend/panduan/home/8.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://localhost/ta_backend/panduan/home/9.png" alt="">
    </ion-slide>
    <ion-slide>      
      <img class="img" src="http://localhost/ta_backend/panduan/home/10.png" alt="">
      <ion-button class="btn" color= 'tertiary' routerLink='/'>Mulai Aplikasi</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>