
<ion-content text-center>

	<div class="bg">
    <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button> 
    </ion-buttons>
    <div class="header">
      <h1 >{{jumlah_sekolah}}</h1>
      <h1 >Sekolah Dasar</h1>
    </div >

 
         <ion-card class="atas">       
          <ion-card-content *ngIf="hak == 'Super_Admin'">                 
              <ion-item>
                <ion-icon name="search"></ion-icon> &nbsp;
                <ion-input type="text" placeholder="Search" (input)="inputsearch($event)" > </ion-input>  
              </ion-item>
              <ion-item class="filter">
                <ion-label>Urutkan</ion-label>
                <ion-select value="Semua" interface="popover"  [(ngModel)]="filter" (ionChange)="optionsFilter()"  >
                  <ion-select-option value="Semua">Semua</ion-select-option>
                  <ion-select-option value="Belum Tervalidasi">Baru</ion-select-option>
                  <ion-select-option value="Tervalidasi">Tervalidasi</ion-select-option>                  
                  <ion-select-option value="Tertolak">Tertolak</ion-select-option>                  
                </ion-select>
              </ion-item>
          </ion-card-content>                                  
        </ion-card>
     

    <ion-card color="light" class="card" *ngFor="let data of dataSekolah">
          <ion-row class="card-content">
            <ion-col size="4">
              <div routerLink="/sekolah-view/{{data.npsn}}">
                <img src="http://localhost/ta_backend/sekolah/image/{{data.username}}/{{data.nama_foto}}.{{data.extention}}" alt=""> &nbsp;
              </div>
              </ion-col>
            <ion-col>
              <ion-row>
                <div class="nama">
                  {{data.nama_sekolah}} <a style="color: red; font-size: 15px;" *ngIf='data.status_sekolah == "Tertolak"'>DITOLAK</a>
                </div>
              </ion-row>              
              <ion-row *ngIf='data.status_sekolah == "Belum Tervalidasi" && hak == "Super_Admin" || data.status_sekolah == "Tertolak" && hak == "Super_Admin"' class="card-action" >  
                <ion-button color="success"  routerLink="/sekolah-view/{{data.npsn}}"><ion-icon name="eye"></ion-icon></ion-button>&nbsp;                     
                <ion-button color="primary" (click)="validasi(data.npsn, 'Tervalidasi')">Terima</ion-button> 
                <ion-button color="danger" (click)="validasi(data.npsn, 'Tertolak')">Tolak</ion-button> &nbsp;                
              </ion-row> 

              <ion-row *ngIf='data.status_sekolah == "Belum Tervalidasi" && hak == "admin_sekolah" || data.status_sekolah == "Tertolak" && hak == "admin_sekolah"' class="card-action" >                          
                <a style="color: red">Keterangan :{{ data.keterangan}}</a>
              </ion-row> 
           
              <ion-row  class="card-action">                            
                <ion-button color="success"  routerLink="/sekolah-view/{{data.npsn}}"><ion-icon name="eye"></ion-icon></ion-button>&nbsp; 
                <ion-button color="warning" routerLink="/sekolah-update/{{data.npsn}}"><ion-icon name="create"></ion-icon></ion-button> &nbsp;
                <ion-button color="danger" (click)="peringatan(data.npsn)"><ion-icon name="trash"></ion-icon></ion-button> &nbsp;
              </ion-row>     
            </ion-col>
          </ion-row>                          
    </ion-card>

  </div> 

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="hak == 'admin_sekolah' && dataSekolah == belum ada">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-card color="danger" class="fab-list" routerLink="/sekolah-create">
        <ion-row>
          <ion-col size="4">
            <ion-icon name="add"></ion-icon>
          </ion-col>  
          <ion-col>
            <p> Tambah Sekolah</p>
          </ion-col>    
        </ion-row>
      </ion-card>     
      <!-- <ion-card *ngIf="hak == 'Super_Admin'"  color="primary" class="fab-list-2"  routerLink="/sekolah-bobot">
        <ion-row>
          <ion-col size="4">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>  
          <ion-col>
            <p> Set Bobot</p>
          </ion-col>    
        </ion-row>
      </ion-card>   -->
    </ion-fab-list>
  </ion-fab>

  

 
</ion-content>







