h1, h5{
    margin-left: 5%;
}

ion-content{
    margin-left: 5%;
}

ion-input{
    margin-left: 5%;
    border:1px solid black;
    width: 90vw;
}

.button-action{
    //width: 100vw;
    margin-left: 25%;
}
