

.bg{
    height: 40%;
    width: 100%;
    text-align: center !important;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background:  linear-gradient(90deg, rgba(4,232,255,1) 0%, rgba(71,174,255,1) 50%, rgba(16,0,255,1) 100%);
    img{
        width: 50% !important;
        border: 5px solid black;
        border-radius: 100px;
        height: 175px;
    
    }
}


.sekolah{
    img{
        // width: 50% !important;
    }
}