<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> &nbsp;&nbsp;&nbsp;&nbsp;
    </ion-buttons>
    <ion-title >
      Extracurricular  
    </ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h1>Daftar Ekstrakurkuler</h1>  
  <ion-row style="border: 1px solid black; margin-left: 5%;">
    <ion-col size="1" style="font-size: 35px">
      <ion-icon name='search'></ion-icon>
    </ion-col>
    <ion-col >
      <ion-input type="text" (input)="inputKey($event)" placeholder="Cari Ekstrakurikuler"></ion-input>
    </ion-col>
  </ion-row>  
  <ion-list padding *ngFor="let data of datas">
    <ion-item class="item">            
      <ion-label>{{data.nama_eks}}</ion-label>
      <ion-icon name="trash" slot="end" color="danger" (click)="peringatan(data.id)"></ion-icon>  
    </ion-item>    
  </ion-list>



  <ion-fab horizontal="end" vertical="end" slot="fixed" class="fab" routerLink="/ekstrakurikuler-create/ekstrakurikuler-admin/0">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



