@import url('https://fonts.googleapis.com/css?family=Pacifico');

    .bg {
        height: 100%;
        width: 100%;
        background: linear-gradient(160deg, #B627F2 30%, #10DFC8 70%);
    }
    .head {
        position: absolute;
        display: block;
        color: #fff;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .head h1 {
        font-size: 7vh!important;
        font-weight: lighter!important;
        font-family: 'Pacifico', cursive;
    }
    .head h5 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: 2px;
        font-weight: 200;
        font-size: 2vh;
    }
    .inputs {
        position: absolute;
        display: block;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: #fff;
        opacity: 0.8;
        text-input-md-background-color:blue;

    }
    .input{

    }
    .trp{
         
         border-radius:30px;
    }
   
    .login {
        position: absolute;
        display: block;
        top: 120%;
        width: 70%;
        left: 13%;
        height:40px; 
        color:white; 
        background: #1361FE;
        box-shadow: 0px;
        text-size:50%;
        border-radius:30px;
        border: 1px solid white;

    }
    .register{
        position: absolute;
        display: block;
        top: 167%;
        width: 70%;
        left: 13%;
        height:40px; 
        color:white; 
        background: #B013FE;
        box-shadow: 0px;
        text-size:50%;
        border-radius:30px;
        border: 1px solid white;
    }
