<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Detail Sekolah  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2 style="text-align: center;">({{id_sekolah}})<b>{{nama_sekolah}}</b></h2>
<ion-slides spaceBetween="10">
  <ion-slide *ngFor="let foto of arr_foto">
    <img src="http://localhost/ta_backend/sekolah/image/{{username}}/{{foto.nama_foto}}.{{foto.extention}}" alt="">
  </ion-slide>
</ion-slides>
<br>
<div padding class="information">
  <ion-grid>
    <!-- 1 -->
    <ion-row>
      <ion-col size="1">
        <ion-icon color="danger" name="location-outline"></ion-icon>
      </ion-col>
      <ion-col size="11">
        {{alamat}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <ion-icon color="success" name="call-outline"></ion-icon>
      </ion-col>
      <ion-col size="11" >
        {{no_telp}}
      </ion-col>
    </ion-row>
    <!-- 1 -->

    <!-- 2 -->
    <ion-row>
      <ion-col size="12">
        <ion-card  style="border-top: 3px solid blueviolet">
          <ion-card-header>
            Agama yang Diajarkan : {{agama}}
          </ion-card-header>
        </ion-card>
        <ion-card style="border-top: 3px solid blueviolet">
          <ion-card-header>
            Nama Kepala Sekolah : {{kepala_sekolah}}
          </ion-card-header>
        </ion-card>
        <ion-card  style="border-top: 3px solid blueviolet">
          <ion-card-header>
            Jam Sekolah : {{jam}}
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- 2 -->

    <ion-row *ngFor="let kriteria of arr_detail | keyvalue">
      <ion-col size='12'>
        <ion-card *ngIf ="kriteria.key != 'Lokasi' && kriteria.key != 'Biaya'">
          <ion-card-header color="tertiary">
           {{kriteria.key}}
          </ion-card-header>
          <ion-card-content>
            <ion-item slot="start" *ngFor="let detail of kriteria.value | keyvalue">
              <div *ngIf="detail.key != 'Akreditasi' && detail.key != 'Internet'">
                {{detail.key}} : {{detail.value}}
              </div>
              <div *ngIf="detail.key == 'Akreditasi'">
                <a style="color: black;" *ngIf="detail.value == 5">{{detail.key}} : A</a>    
                <a style="color: black;" *ngIf="detail.value == 4">{{detail.key}} : B</a>
                <a style="color: black;" *ngIf="detail.value == 3">{{detail.key}} : Belum Akreditasi</a>
                <a style="color: black;" *ngIf="detail.value == 2">{{detail.key}} : Belum Terakreditasi</a>
                <a style="color: black;" *ngIf="detail.value == 1">{{detail.key}} : C</a>            
              </div>
              <div *ngIf="detail.key == 'Internet'">
                <a style="color: black;" *ngIf="detail.value == 1">{{detail.key}} : <ion-icon name="checkmark-circle" color="success" slot="end"></ion-icon></a>
                <a style="color: black;" *ngIf="detail.value == 0">{{detail.key}} : <ion-icon name="close-circle" color="danger" slot="end"></ion-icon>    </a>            
              </div>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf ="kriteria.key == 'Biaya'">
          <ion-card-header color="tertiary">
           {{kriteria.key}}
          </ion-card-header>
          <ion-card-content>
            <ion-item slot="start" *ngFor="let detail of kriteria.value | keyvalue">
              {{detail.key}} : {{detail.value | currency:'Rp.':true:'3.0' }}
            </ion-item> 
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf ="kriteria.key == 'Lokasi'">
          <ion-card-header color="tertiary">
           {{kriteria.key}}
          </ion-card-header>
          <ion-card-content>
            <ion-item slot="start" >
              Jarak dari Lokasi saat ini : {{jarak}} km
            </ion-item> 
          </ion-card-content>
        </ion-card>
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-card >
          <ion-card-header color="tertiary">
            Ekstrakurikuler
          </ion-card-header>
          <ion-card-content>
            <ion-item slot="start" *ngFor="let data of arr_eks">
              {{data.nama}}
            </ion-item>          
          </ion-card-content>
        </ion-card>
      </ion-col>      
    </ion-row>
   

    <!-- maps -->
    <ion-row>
      <ion-col size='12'>
        <div id="mapId" style="height:300px; boder:1px solid black"></div>
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col  size='12'>
        <ion-card>
          <ion-card-header color="tertiary">
            Rating
          </ion-card-header>
          <ion-card-content>
            <ion-item slot="start" *ngFor="let data of arr_rating | keyvalue">
              {{data.key}} : {{data.value}} <ion-icon name="star" style="font-size: 20px; color: yellow;"></ion-icon>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-card >
          <ion-card-header color="tertiary">
            Tambah Rating
          </ion-card-header>
          <ion-card-content>        
            <div >
              <ion-select [(ngModel)]="kriteria_rating" (ionChange)="optionsKriteriaRating()">
                <ion-select-option value="">
                  Pilih kriteria
                </ion-select-option>
                <ion-select-option *ngFor="let data of arr_kriteria" value="{{data.id}}">
                  {{data.nama_kriteria}}
                </ion-select-option>
              </ion-select>
              <ion-item class="star" >              
                <!-- <ion-icon name="star" style="font-size: 40px; color: yellow;"></ion-icon> &nbsp; -->
                <ion-icon *ngIf="rating1 == false" name="star-outline" style="font-size: 40px;" (click)="rating(1)"></ion-icon> 
                <ion-icon *ngIf="rating1 == true" name="star"  (click)="rating(1)" style="font-size: 40px; color: yellow;"></ion-icon> &nbsp;&nbsp;
                <ion-icon *ngIf="rating2 == false" name="star-outline" style="font-size: 40px;" (click)="rating(2)"></ion-icon> 
                <ion-icon *ngIf="rating2 == true" name="star"  (click)="rating(2)" style="font-size: 40px; color: yellow;"></ion-icon> &nbsp;&nbsp;
                <ion-icon *ngIf="rating3 == false" name="star-outline" style="font-size: 40px;" (click)="rating(3)"></ion-icon> 
                <ion-icon *ngIf="rating3 == true" name="star"  (click)="rating(3)" style="font-size: 40px; color: yellow;"></ion-icon> &nbsp;&nbsp;
                <ion-icon *ngIf="rating4 == false" name="star-outline" style="font-size: 40px;" (click)="rating(4)"></ion-icon> 
                <ion-icon *ngIf="rating4 == true" name="star"  (click)="rating(4)" style="font-size: 40px; color: yellow;"></ion-icon> &nbsp;&nbsp;
                <ion-icon *ngIf="rating5 == false" name="star-outline" style="font-size: 40px;" (click)="rating(5)"></ion-icon> 
                <ion-icon *ngIf="rating5 == true" name="star"  (click)="rating(5)" style="font-size: 40px; color: yellow;"></ion-icon> &nbsp;&nbsp;
              </ion-item> 
            </div>  
                           
          </ion-card-content>
        </ion-card>
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-card>
          <ion-card-header color="tertiary">
            Komentar
          </ion-card-header>
          <ion-card-content>
            <ion-select  [(ngModel)]="kriteria_review" (ionChange)="optionsKriteriaReview()">
              <ion-select-option value="">
                Pilih kriteria
              </ion-select-option>
              <ion-select-option *ngFor="let data of arr_kriteria" value="{{data.id}}">
                {{data.nama_kriteria}}
              </ion-select-option>
            </ion-select>
            <ion-item>              
              <ion-input type="text" placeholder="Tulis disini" slot="start" (input)="inputKomen($event)"></ion-input>
              <ion-button  color="light" slot="end" (click)="kirimKomentar()">Kirim</ion-button>
            </ion-item>
            <br>
            <div class="komen" *ngFor="let komen of arr_komen">
             <b>{{komen.nama}} ({{komen.nama_kriteria}})</b> <br>
             <p slot="start">{{komen.review}}</p><i slot="end">{{komen.tanggal}}</i>
             <br>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>      
    </ion-row>

  </ion-grid>

</div>


</ion-content>


