ion-slides{
    width: 100% !important;
    //height: 40% !important;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    img{
        width: 500px;
        height: 300px; 
    }
}

.information{
    width: 100% !important;
    ion-icon{
        font-size: 25px;
    }
}

.star{
    font-size: 50px;
}

.komen{
    i{       
        margin-left: 50% !important;    
    }
}

