<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title >
      Panduan Lokasi
    </ion-title> 
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


<!-- class="swiper-no-swiping" -->
<ion-content padding>
  <ion-slides  #slides >
    <ion-slide>
      <img src="https://schoolfindersurabaya.000webhostapp.com/ta_backend/panduan/lokasi/1.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="https://schoolfindersurabaya.000webhostapp.com/ta_backend/panduan/lokasi/2.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="https://schoolfindersurabaya.000webhostapp.com/ta_backend/panduan/lokasi/3.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="https://schoolfindersurabaya.000webhostapp.com/ta_backend/panduan/lokasi/4.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="https://schoolfindersurabaya.000webhostapp.com/ta_backend/panduan/lokasi/5.png" alt="">
    </ion-slide>
    <ion-slide>
      <img class="img" src="https://schoolfindersurabaya.000webhostapp.com/ta_backend/panduan/lokasi/6.png" alt="">
      <ion-button class="btn" color= 'tertiary' href='https://www.google.com/maps' target="_blank">Buka Google Maps</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>