
<ion-content text-center>

	<div class="bg">
	  <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button> 
    </ion-buttons>
   	<br>
   	
   
   <ion-grid>
        <ion-row class="jumlah">
          <ion-col >          
            <ion-icon name="home" ></ion-icon>
            <ion-label><b> {{jumlahSekolah}}</b><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sekolah</p></ion-label>
          </ion-col>
          <ion-col>          
            <ion-icon name="people"></ion-icon> 
            <ion-label><b>  {{jumlahUser}}</b><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pengguna</p></ion-label>
          </ion-col>
        </ion-row>
        <br>
        <ion-row class="jumlah">
          <ion-col>          
            <ion-icon name="bonfire"></ion-icon>
            <ion-label><b> {{jumlahEks}}</b><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ekstrakurikuler</p></ion-label>
          </ion-col>
          <ion-col>          
            <ion-icon name="body"></ion-icon> 
            <ion-label><b> {{jumlahKriteria}}</b><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kriteria</p></ion-label>
          </ion-col>
        </ion-row>
    </ion-grid>
    <br>
 
   
    
    
           <ion-card class="atas">       
                            
                <ion-item>
                  <ion-icon name="logo-buffer"></ion-icon> &nbsp;
                  <ion-label> Dashboard</ion-label>  
                </ion-item>
            
          </ion-card>
      
     <ion-grid>
        <ion-row >
          <ion-col size="4">
            <ion-card class="card warna" routerLink="/sekolah-admin">    	 
		        <ion-card-content >

              <ion-icon name="school"></ion-icon>     
		        </ion-card-content>
     		</ion-card>	
          Sekolah
          </ion-col>
          <ion-col size="4">
            <ion-card class="card warna1"  routerLink="/parent-admin">    	 		    	   
              <ion-card-content >        
                <ion-icon name="people"></ion-icon>              	
              </ion-card-content>
            </ion-card>
              Orangtua	
          </ion-col>
          <ion-col size="4">
            <ion-card class="card warna2" routerLink="/kriteria-admin">    	 
              <ion-card-content >
                <ion-icon name="body"></ion-icon> 		         
              </ion-card-content>
             </ion-card>
             Kriteria
          </ion-col>
         

          
        </ion-row> 
<!------------------ Batas Menu atas dan tengah -------->
        <ion-row >
          <ion-col size="4">
            <ion-card class="card warna3" routerLink="/ekstrakurikuler-admin">      
            <ion-card-content >
              <ion-icon name="bonfire"></ion-icon>     
            </ion-card-content>
        </ion-card> 
         Ekstrakurikuler
          </ion-col>
          <ion-col size="4">
           <ion-card class="card warna4"  routerLink="/admin-admin">      
             
            <ion-card-content >
              <ion-icon name="person"></ion-icon>       
            </ion-card-content>
        </ion-card>
         Admin 
          </ion-col>
          <ion-col size="4">
          <!--  <ion-card class="card warna5">      
                 
            <ion-card-content >
              <ion-icon name="body"></ion-icon>              
            </ion-card-content>
        </ion-card> 
        Kriteria -->
          </ion-col>
        </ion-row>

     </ion-grid>
 </div>
</ion-content>